CREATE TABLE SourceItems (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    SourceRootFolder TEXT NOT NULL,

    ParentFolder TEXT NOT NULL,

    FilePath TEXT NOT NULL UNIQUE,

    FileName TEXT NOT NULL,

    ScanText TEXT NOT NULL,

    ShowTitle TEXT NULL,

    SeasonNumber INTEGER NULL,

    EpisodeNumber INTEGER NULL,

    EpisodeTitle TEXT NULL,

    State INTEGER NOT NULL,
    Notes TEXT NULL,
    LinkedPath TEXT NULL,
    LastSeenUtc TEXT NOT NULL
, MediaKind INTEGER NOT NULL DEFAULT 0, MovieTitle TEXT NULL, MovieYear INTEGER NULL, ParserPattern INTEGER NOT NULL DEFAULT 0, MatchedTitle TEXT NULL, MatchedYear INTEGER NULL, Provider TEXT NULL, ProviderId TEXT NULL, MatchConfidence REAL NULL, MatchReason TEXT NULL, RequiresManualReview INTEGER NOT NULL DEFAULT 0, MatchAccepted INTEGER NOT NULL DEFAULT 0, UseAbsoluteAnimeMapping INTEGER NOT NULL DEFAULT 0, MappedSeasonNumber INTEGER NULL, MappedEpisodeNumber INTEGER NULL, EpisodeMappingSource TEXT NULL, EpisodeMappingConfidence REAL NULL, EpisodeMappingReason TEXT NULL, AutoTorrentLinkKind INTEGER NULL, AutoTorrentTorrentHash TEXT NULL, AutoTorrentPackOwnerSeasonNumber INTEGER NULL, IsExternalImport INTEGER NOT NULL DEFAULT 0, SymlinkPath TEXT NULL, IsOrphanPackSpecial INTEGER NOT NULL DEFAULT 0);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE SeriesMappings (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    ParsedTitle TEXT NOT NULL,
    NormalizedParsedTitle TEXT NOT NULL,
    ParserPattern INTEGER NOT NULL,
    MatchedTitle TEXT NOT NULL,
    MatchedYear INTEGER NULL,
    Provider TEXT NOT NULL,
    ProviderId TEXT NOT NULL,
    UseAbsoluteAnimeMapping INTEGER NOT NULL DEFAULT 0,
    CreatedUtc TEXT NOT NULL,
    UpdatedUtc TEXT NOT NULL,
    UNIQUE(NormalizedParsedTitle, ParserPattern)
);
CREATE TABLE TrackedShows (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    TmdbId INTEGER NOT NULL UNIQUE,
    Title TEXT NOT NULL,
    FirstAirYear INTEGER NULL,
    Overview TEXT NULL,
    PosterPath TEXT NULL,
    PreferredQuality TEXT NOT NULL DEFAULT '1080p',
    CreatedUtc TEXT NOT NULL,
    UpdatedUtc TEXT NOT NULL
, PreferredAudioCodec TEXT NOT NULL DEFAULT '', MinimumSeeders INTEGER NOT NULL DEFAULT 0, RecipeId TEXT NULL, PackRecipeId TEXT NULL, SeriesStatus INTEGER NOT NULL DEFAULT 0, AutoTrackFromSeason INTEGER NULL, AutoTrackFromEpisode INTEGER NULL, AutoTrackDownloadFolder TEXT NULL, AutoTrackAutoReconcileAndLink INTEGER NOT NULL DEFAULT 1, AutoTrackAnchorDayOfWeek INTEGER NULL, AutoTrackAnchorTimeLocal TEXT NULL, AutoTrackLastTmdbWeekKey TEXT NULL, AutoTrackTmdbState INTEGER NOT NULL DEFAULT 0, AutoTrackMinQuality TEXT NULL, AutoTrackMinSeeders INTEGER NULL, AutoTrackMinFileSizeMb INTEGER NULL, AutoTrackMaxFileSizeMb INTEGER NULL, AutoTrackAllowedQualities TEXT NULL, AlternativeTitlesJson TEXT NULL, ExcludedAlternativeTitlesJson TEXT NULL, WatchStatus INTEGER NOT NULL DEFAULT 0, WatchedEpisodes INTEGER NOT NULL DEFAULT 0, PlannedEpisodeCount INTEGER NOT NULL DEFAULT 0, EpisodeGroupId TEXT NULL, EpisodeGroupName TEXT NULL, AutoTrackLastTmdbRefreshLocal TEXT NULL, Rating REAL NULL, Thought TEXT NULL);
CREATE TABLE TrackedSeasons (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    ShowId INTEGER NOT NULL,
    SeasonNumber INTEGER NOT NULL,
    EpisodeCount INTEGER NOT NULL DEFAULT 0, DownloadFolder TEXT NULL, ManagementMode INTEGER NOT NULL DEFAULT 0, SelectedPackCandidateName TEXT NULL, SelectedPackCandidateUrl TEXT NULL, SelectedPackCandidatePlugin TEXT NULL, SelectedPackCandidateFileSize INTEGER NOT NULL DEFAULT 0, SelectedPackCandidateSeeders INTEGER NOT NULL DEFAULT 0, SelectedPackCandidateQuality TEXT NULL, SelectedPackCandidateAudioCodec TEXT NULL, SelectedPackCoveredSeasons TEXT NULL, SelectedPackOwnerSeasonNumber INTEGER NULL, PackTorrentHash TEXT NULL, PackTorrentName TEXT NULL, PackTorrentState TEXT NULL, PackTorrentProgress REAL NOT NULL DEFAULT 0, IsHidden INTEGER NOT NULL DEFAULT 0, SelectedPackContentProfile TEXT NULL, LastPackLinkTorrentHash TEXT NULL, LastPackLinkUtc TEXT NULL,
    UNIQUE(ShowId, SeasonNumber),
    FOREIGN KEY(ShowId) REFERENCES TrackedShows(Id) ON DELETE CASCADE
);
CREATE TABLE TrackedEpisodes (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    ShowId INTEGER NOT NULL,
    SeasonNumber INTEGER NOT NULL,
    EpisodeNumber INTEGER NOT NULL,
    Title TEXT NOT NULL,
    AirDate TEXT NULL,
    Availability INTEGER NOT NULL DEFAULT 0,
    IsWanted INTEGER NOT NULL DEFAULT 0,
    CreatedUtc TEXT NOT NULL,
    UpdatedUtc TEXT NOT NULL, TorrentHash TEXT NULL, TorrentName TEXT NULL, TorrentState TEXT NULL, TorrentProgress REAL NOT NULL DEFAULT 0, TorrentUpdatedUtc TEXT NULL, SelectedCandidateName TEXT NULL, SelectedCandidateUrl TEXT NULL, SelectedCandidatePlugin TEXT NULL, SelectedCandidateFileSize INTEGER NOT NULL DEFAULT 0, SelectedCandidateSeeders INTEGER NOT NULL DEFAULT 0, SelectedCandidateQuality TEXT NULL, SelectedCandidateAudioCodec TEXT NULL, Overview TEXT NULL, VoteAverage REAL NULL, StillPath TEXT NULL, AutoTrackLastEnrichLocal TEXT NULL,
    UNIQUE(ShowId, SeasonNumber, EpisodeNumber),
    FOREIGN KEY(ShowId) REFERENCES TrackedShows(Id) ON DELETE CASCADE
);
CREATE TABLE FetchJobs (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    ShowId INTEGER NOT NULL,
    ShowTitle TEXT NOT NULL,
    Status INTEGER NOT NULL DEFAULT 0,
    TotalEpisodes INTEGER NOT NULL DEFAULT 0,
    ProcessedEpisodes INTEGER NOT NULL DEFAULT 0,
    ErrorSummary TEXT NULL,
    CreatedUtc TEXT NOT NULL,
    StartedUtc TEXT NULL,
    FinishedUtc TEXT NULL
, TargetKind INTEGER NOT NULL DEFAULT 1);
CREATE TABLE TrackedMovies (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    TmdbId INTEGER NOT NULL UNIQUE,
    Title TEXT NOT NULL,
    ReleaseYear INTEGER NULL,
    Overview TEXT NULL,
    PosterPath TEXT NULL,
    PreferredQuality TEXT NOT NULL DEFAULT '1080p',
    PreferredAudioCodec TEXT NOT NULL DEFAULT '',
    MinimumSeeders INTEGER NOT NULL DEFAULT 0,
    Availability INTEGER NOT NULL DEFAULT 0,
    IsWanted INTEGER NOT NULL DEFAULT 1,
    TorrentHash TEXT NULL,
    TorrentName TEXT NULL,
    TorrentState TEXT NULL,
    TorrentProgress REAL NOT NULL DEFAULT 0,
    TorrentUpdatedUtc TEXT NULL,
    SelectedCandidateName TEXT NULL,
    SelectedCandidateUrl TEXT NULL,
    SelectedCandidatePlugin TEXT NULL,
    SelectedCandidateFileSize INTEGER NOT NULL DEFAULT 0,
    SelectedCandidateSeeders INTEGER NOT NULL DEFAULT 0,
    SelectedCandidateQuality TEXT NULL,
    SelectedCandidateAudioCodec TEXT NULL,
    CreatedUtc TEXT NOT NULL,
    UpdatedUtc TEXT NOT NULL
, RecipeId TEXT NULL, AlternativeTitlesJson TEXT NULL, ExcludedAlternativeTitlesJson TEXT NULL, WatchStatus INTEGER NOT NULL DEFAULT 0, Rating REAL NULL, Thought TEXT NULL);
CREATE TABLE TorrentCartOrders (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    TargetKind INTEGER NOT NULL,
    MediaId INTEGER NOT NULL,
    EpisodeId INTEGER NULL,
    SeasonNumber INTEGER NULL,
    EpisodeNumber INTEGER NULL,
    Title TEXT NOT NULL,
    Summary TEXT NOT NULL,
    Status INTEGER NOT NULL,
    StatusDetail TEXT NOT NULL DEFAULT '',
    SelectedCandidateName TEXT NOT NULL DEFAULT '',
    SelectedCandidateUrl TEXT NOT NULL DEFAULT '',
    SelectedCandidatePlugin TEXT NOT NULL DEFAULT '',
    SelectedCandidateFileSize INTEGER NOT NULL DEFAULT 0,
    SelectedCandidateSeeders INTEGER NOT NULL DEFAULT 0,
    SelectedCandidateLeechers INTEGER NOT NULL DEFAULT 0,
    SelectedCandidateQuality TEXT NOT NULL DEFAULT '',
    SelectedCandidateAudioCodec TEXT NOT NULL DEFAULT '',
    SelectedCandidateCoveredSeasons TEXT NOT NULL DEFAULT '',
    SelectedCandidateTotalScore INTEGER NOT NULL DEFAULT 0,
    TorrentHash TEXT NOT NULL DEFAULT '',
    TorrentName TEXT NOT NULL DEFAULT '',
    TorrentState TEXT NOT NULL DEFAULT '',
    TorrentProgress REAL NOT NULL DEFAULT 0,
    CreatedUtc TEXT NOT NULL,
    UpdatedUtc TEXT NOT NULL
, Source INTEGER NOT NULL DEFAULT 0, SelectedCandidateContentProfile TEXT NOT NULL DEFAULT '', FailedCandidateUrls TEXT NOT NULL DEFAULT '', LastFailureReason TEXT NOT NULL DEFAULT '');
CREATE TABLE TorrentCartOrderCandidates (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    OrderId INTEGER NOT NULL,
    Rank INTEGER NOT NULL DEFAULT 0,
    IsSelected INTEGER NOT NULL DEFAULT 0,
    IsAccepted INTEGER NOT NULL DEFAULT 0,
    Name TEXT NOT NULL DEFAULT '',
    Url TEXT NOT NULL DEFAULT '',
    PluginName TEXT NOT NULL DEFAULT '',
    FileSize INTEGER NOT NULL DEFAULT 0,
    Seeders INTEGER NOT NULL DEFAULT 0,
    Leechers INTEGER NOT NULL DEFAULT 0,
    Quality TEXT NOT NULL DEFAULT '',
    AudioCodec TEXT NOT NULL DEFAULT '',
    CoveredSeasons TEXT NOT NULL DEFAULT '',
    TotalScore INTEGER NOT NULL DEFAULT 0
, ContentProfileJson TEXT NOT NULL DEFAULT '');
CREATE TABLE "TorrentBlacklist" (

    Id INTEGER PRIMARY KEY AUTOINCREMENT,

    ListingUrl TEXT NOT NULL DEFAULT '',

    InfoHash TEXT NOT NULL DEFAULT '',

    ShowId INTEGER NOT NULL,

    Reason TEXT NOT NULL,

    SuspiciousFilesJson TEXT NULL,

    DateAddedUtc TEXT NOT NULL,

    IsActive INTEGER NOT NULL DEFAULT 1,

    Notes TEXT NULL

);
